<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "mybatis-3-mapper.dtd" >
<mapper namespace="boardMapper">
	
	<!-- BOARD 테이블로부터 조회된 ResultSet 을 Board 객체로 가공해주는 resultMap -->
	<resultMap id="boardResultSet" type="board">
		<result column="B_NO" property="boardNo" />
		<result column="B_TITLE" property="boardTitle" />
		<result column="B_CONTENT" property="boardContent" />
		<result column="CREATE_DATE" property="createDate" />
		<result column="STATUS" property="status" />
		<result column="COUNT" property="count" />
		<result column="USER_NO" property="userNo" />
		<result column="CATEGORY_MAIN" property="categoryMain" />
		<result column="CATEGORY_SUB" property="categorySub" />
		
		<result column="DOG_NAME" property="dogName" />
		<result column="FILE_PATH" property="dogImg" />
		<result column="ORIGIN_NAME" property="originName" />
		<result column="CHANGE_NAME" property="changeName" />
		<result column="AT_FILE_PATH" property="atFilePath" />
		
	</resultMap>
	
	<resultMap id="attachmentResultSet" type="attachment">
		<result column="FILE_NO" property="fileNo" />
		<result column="ORIGIN_NAME" property="originName" />
		<result column="CHANGE_NAME" property="changeName" />
		<result column="FILE_PATH" property="filePath" />
		<result column="CREATE_DATE" property="createDate" />
		<result column="STATUS" property="status" />
		<result column="FILE_LEVEL" property="fileLevel" />
		<result column="REF_BNO" property="ref_bno" />
	</resultMap>
	


	<!-- 일반게시글 총 갯수 구하는 쿼리문 -->
	<select id="selectFreeListCount" resultType="_int">
		SELECT COUNT(*)
		  FROM BOARD
		 WHERE STATUS = 'Y'
		   AND CATEGORY_MAIN = '1' 
	</select>
	
	<!-- 사진게시글 총 갯수 구하는 쿼리문 -->
	<select id="selectListCount" resultType="_int">
		SELECT COUNT(*)
		  FROM BOARD
		 WHERE STATUS = 'Y'
		   AND CATEGORY_MAIN = '2' 
	</select>
	
	<!-- 일반게시글 리스트 조회 -->
	<select id="selectFreeList" resultMap="boardResultSet">
		SELECT B.B_NO
		     , B.B_TITLE
		     , B.USER_NO
		     , B.COUNT 
			 , TO_CHAR(B.CREATE_DATE, 'YYYY-MM-DD') AS CREATE_DATE
			 , A.ORIGIN_NAME
			 , A.CHANGE_NAME
			 , A.FILE_PATH AS AT_FILE_PATH 
		 FROM BOARD B
         LEFT JOIN B_ATTACHMENT A ON (B.B_NO = A.REF_BNO) 	
        WHERE B.STATUS = 'Y'
		  AND CATEGORY_MAIN = '1'
        ORDER BY B.B_NO DESC	
	</select>	

	<!-- 조회수 증가용 쿼리문 -->
	<update id="increaseCount" parameterType="_int">
		UPDATE BOARD
		   SET COUNT = COUNT + 1
		 WHERE B_NO = #{boardNo}
		   AND STATUS = 'Y'
	</update>
	
	
	<!-- 게시글 작성용 쿼리문 --> 
	<insert id="insertBoard" parameterType="board">
		INSERT INTO BOARD(B_NO
						, B_TITLE
						, B_CONTENT
						, USER_NO
						, CATEGORY_MAIN
						, CATEGORY_SUB)
				   VALUES(SEQ_BOARD.NEXTVAL
				   		, #{boardTitle}
				   		, #{boardContent}
				   		, #{userNo}
				   		, #{categoryMain}
				   		, #{categorySub})
	</insert>
	
	<!-- 첨부파일 작성용 쿼리문 -->
	<insert id="insertAttachmentList" parameterType="attachment">
		INSERT INTO B_ATTACHMENT(FILE_NO
		                       , ORIGIN_NAME
		                       , CHANGE_NAME
		                       , FILE_PATH
		                       , REF_BNO)
		                VALUES(SEQ_B_ATTACHMENT.NEXTVAL
		                     , #{originName}
		                     , #{changeName}
		                     , #{filePath}
		                     , SEQ_BOARD.CURRVAL)
	</insert>
	
	<!-- 사진게시글 : 일반게시글 상위 5 개 조회 -->
	<select id="selectTopList" resultMap="boardResultSet">
		SELECT B_NO
		     , B_TITLE
		     , B_CONTENT
			 , ORIGIN_NAME
			 , CHANGE_NAME
			 , FILE_PATH AS AT_FILE_PATH 
		FROM
		(
			SELECT * 
			 FROM BOARD B
			 LEFT JOIN B_ATTACHMENT A ON (B.B_NO = A.REF_BNO) 	
			WHERE B.STATUS = 'Y'
			  AND CATEGORY_MAIN = '1'
			ORDER BY B.COUNT DESC
		) 
		WHERE ROWNUM &lt; 5  		
	</select>
	

	<!-- boardMain 하단 카테고리 조회용 -->
	<select id="selectBottomList1" resultMap="boardResultSet">
		SELECT B_NO
		     , B.B_TITLE
		     , B.B_CONTENT
			 , A.ORIGIN_NAME
			 , A.CHANGE_NAME
			 , A.FILE_PATH AS AT_FILE_PATH
		FROM BOARD B 
		LEFT JOIN B_ATTACHMENT A ON (B.B_NO = A.REF_BNO)
		WHERE B.STATUS = 'Y'
		AND CATEGORY_MAIN = 2
		AND CATEGORY_SUB = 1
		ORDER BY B.CREATE_DATE DESC
	</select>
	
	
	<!-- 사진게시판 : 강아지자랑 게시글 조회 -->
	<select id="selectMypetList" resultMap="boardResultSet">
		SELECT B_NO
		     , B.B_TITLE
			 , A.ORIGIN_NAME
			 , A.CHANGE_NAME
			 , A.FILE_PATH AS AT_FILE_PATH
		FROM BOARD B 
		LEFT JOIN B_ATTACHMENT A ON (B.B_NO = A.REF_BNO)
		WHERE B.STATUS = 'Y'
		AND CATEGORY_MAIN = 2
		ORDER BY B.CREATE_DATE DESC	
	</select>
	
	
	
	
	
	
	
	
	
	 
	 
	 
	 
	 
	 
	 
	<!-- 여기서부터 하나하나 수정해나가기 --> 
	 
	 
	 
	 
	 
	 
	
	 
	 
	 
	 
	 
	 
	 
	<!-- 일반게시판 글작성 : 다중파일 & BOARD테이블 -->
	<!--
	<insert id="" >
		INSERT ALL
			INTO EMP_HIR VALUES(EMPNO, ENAME, HIREDATE)
			INTO EMP_MGR VALUES(EMPNO, ENAME, MGR)
			SELECT (EMPNO, ENAME, HIREDATE, MGR) FROM EMP WHERE DEPTNO = 20;	
	</insert>
	-->

		
	
	
	<!-- 게시글 상세 조회용 쿼리문 -->
	 
	<select id="selectBoard" resultMap="boardResultSet">
		SELECT B.B_NO
		     , B.B_CONTENT
		     , B.USER_NO
		     , D.DOG_NAME
		     , D.FILE_PATH
		FROM BOARD B
		LEFT JOIN (
		            SELECT USER_NO, DOG_NAME, FILE_PATH
		            FROM (
		                    SELECT D.USER_NO, D.DOG_NAME, D.FILE_PATH,
		                           ROW_NUMBER() OVER (PARTITION BY D.USER_NO ORDER BY D.DOG_NAME) AS RN
		                    FROM DOG D
		                ) WHERE RN = 1
		        ) D ON D.USER_NO = B.USER_NO
		WHERE B.STATUS = 'Y'
          AND B.B_NO = #{boardNo}
	</select>
	




	<!-- 사진게시글 리스트 조회 -->
	<!--  
	<select id="" parameterType="_int" resultMap="boardResultSet">
		SELECT B.B_NO
		     , B.B_TITLE
		     , B.USER_NO
		     , B.COUNT 
			 , TO_CHAR(B.CREATE_DATE, 'YYYY-MM-DD') AS "CREATE_DATE"
			 , A.REF_BNO
		FROM BOARD B
		LEFT JOIN B_ATTACHMENT A ON (B.B_NO = A.REF_BNO)
		ORDER BY BOARD_NO DESC
		WHERE STATUS = 'Y'
		   AND CATEGORY_MAIN = '1' 		
	</select>		
	-->
	
	
	
	
	
	
	
	
	
	
	
	
	<!-- 게시글 리스트 구해주는 쿼리문 -->
	<!--  
	<select id="selectList" resultMap="boardResultSet">
		SELECT B.B_NO
		     , B.B_CONTENT
		     , B.USER_NO
		     , D.DOG_NAME
		     , D.FILE_PATH
		FROM BOARD B
		LEFT JOIN (
		            SELECT USER_NO, DOG_NAME, FILE_PATH
		            FROM (
		                    SELECT D.USER_NO, D.DOG_NAME, D.FILE_PATH,
		                           ROW_NUMBER() OVER (PARTITION BY D.USER_NO ORDER BY D.DOG_NAME) AS RN
		                    FROM DOG D
		                ) WHERE RN = 1
		        ) D ON D.USER_NO = B.USER_NO
		WHERE B.STATUS = 'Y'
		ORDER BY B.B_NO DESC
	</select>
	-->
	
	
	
	
	
		
		
	
	
	<!-- 첨부파일 작성용 쿼리문 -->
	<!--  
	<insert id="insertAttachment" parameterType="">
		INSERT INTO B_ATTACHMEN(FILE_NO
							  , ORIGIN_NAME
							  , CHANGE_NAME
							  , FILE_PATH
							  , FILE_LEVEL
							  , REF_BNO)
					VALUES (SEQ_B_ATTACHMENT.NEXTVAL
						  , #{originName}
						  , #{changeName}
						  , #{filePath}
						  , #{fileLevel}
						  , SEQ_B_ATTACHMENT.CURRVAL)
	</insert>
	-->


	 <!--   
	<select id="selectAttachment" parameterType="_int" resultMap="attachmentResultSet">
		SELECT ORIGIN_NAME
		     , CHANGE_NAME
		  FROM B_ATTACHMENT
		 WHERE STATUS = 'Y'
		   AND REF_BNO = #{boardNo}
	</select>	
	-->
	
	
	<!--  
	<insert id="insertAttachmentList" parameterType="">
		INSERT INTO B_ATTACHMENT(FILE_NO,
							   , ORIGIN_NAME
							   , CHANGE_NAME
							   , FILE_PATH
							   , DEFAULT
							   , DEFAULT
							   , FILE_LEVEL
							   , REF_BNO)
					VALUES(SEQ_B_ATTACHMENT.NEXTVAL
					     , #{}
					     , #{}
					     , #{}
					     , #{}
					     , SEQ_B_ATTACHMENT.CURRVAL)
	</insert>	  
	-->		  
				  
				  
		
	
	


</mapper>













