<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "mybatis-3-mapper.dtd" >
<mapper namespace="boardMapper">
	
	<!-- BOARD 테이블로부터 조회된 ResultSet 을 Board 객체로 가공해주는 resultMap -->
	<resultMap id="boardResultSet" type="board">
		<result column="B_NO" property="boardNo" />
		<result column="B_TITLE" property="boardTitle" />
		<result column="B_CONTENT" property="boardContent" />
		<result column="CREATE_DATE" property="createDate" />
		<result column="STATUS" property="status" />
		<result column="COUNT" property="count" />
		<result column="USER_NO" property="userNo" />
		
		<result column="DOG_NAME" property="dogName" />
		<result column="FILE_PATH" property="dogImg" />
	</resultMap>
	


	<!-- 게시글 총 갯수 구하는 쿼리문 -->
	<select id="selectListCount" resultType="_int">
		SELECT COUNT(*)
		  FROM BOARD
		WHERE STATUS = 'Y'
	</select>
	
	<!-- 게시글 리스트 구해주는 쿼리문 -->
	<select id="selectList" resultMap="boardResultSet">
		SELECT B.B_NO
		     , B.B_CONTENT
		     , B.USER_NO
		     , D.DOG_NAME
		     , D.FILE_PATH
		FROM BOARD B
		LEFT JOIN (
		            SELECT USER_NO, DOG_NAME, FILE_PATH
		            FROM (
		                    SELECT D.USER_NO, D.DOG_NAME, D.FILE_PATH,
		                           ROW_NUMBER() OVER (PARTITION BY D.USER_NO ORDER BY D.DOG_NAME) AS RN
		                    FROM DOG D
		                ) WHERE RN = 1
		        ) D ON D.USER_NO = B.USER_NO
		WHERE B.STATUS = 'Y'
		ORDER BY B.B_NO DESC
	</select>
	
	<!-- 게시글 상세 조회용 쿼리문 -->
	<select id="selectBoard" parameterType="_int" resultMap="boardResultSet">
		SELECT B.B_NO
		     , B.B_CONTENT
		     , B.USER_NO
		     , D.DOG_NAME
		     , D.FILE_PATH
		FROM BOARD B
		LEFT JOIN (
		            SELECT USER_NO, DOG_NAME, FILE_PATH
		            FROM (
		                    SELECT D.USER_NO, D.DOG_NAME, D.FILE_PATH,
		                           ROW_NUMBER() OVER (PARTITION BY D.USER_NO ORDER BY D.DOG_NAME) AS RN
		                    FROM DOG D
		                ) WHERE RN = 1
		        ) D ON D.USER_NO = B.USER_NO
		WHERE B.STATUS = 'Y'
          AND B.B_NO = #{boardNo}
	</select>
		
	<!-- 게시글 작성용 쿼리문 -->
	<insert id="insertBoard" parameterType="board">
		INSERT INTO BOARD(BOARD_NO
						, BOARD_CONTENT)
			VALUES(SEQ_BOARD.NEXTVAL
			     , #{boardContent})
	</insert>
	
	
	<!-- 첨부파일 작성용 쿼리문 -->
	<!--  
	<insert id="insertAttachment" parameterType="">
		INSERT INTO B_ATTACHMEN(FILE_NO
							  , ORIGIN_NAME
							  , CHANGE_NAME
							  , FILE_PATH
							  , FILE_LEVEL
							  , REF_BNO)
					VALUES (SEQ_B_ATTACHMENT.NEXTVAL
						  , #{originName}
						  , #{changeName}
						  , #{filePath}
						  , #{fileLevel}
						  , SEQ_B_ATTACHMENT.CURRVAL)
	</insert>
	-->
	<!-- 게시글 "자유게시판" 리스트를 구해주는 쿼리문 -->
	<select id="selectFreeList" resultMap="boardResultSet">
		SELECT BOARD_NO
			 , BOARD_TITLE
			 , BOARD_WRITER
			 , COUNT
			 , TO_CHAR(CREATE_DATE, 'YYYY-MM-DD') AS "CREATE_DATE"
		  FROM BOARD
		 WHERE STATUS = 'Y'
		 ORDER BY BOARD_NO DESC
	</select>
	
	<select id="selectAttachment" parameterType="_int" resultMap="board">
		SELECT ORIGIN_NAME
		     , CHANGE_NAME
		  FROM B_ATTACHMENT
		 WHERE STATUS = 'Y'
		   AND REF_BNO = #{boardNo}
	</select>	
	
	<!--  
	<insert id="insertAttachmentList" parameterType="">
		INSERT INTO B_ATTACHMENT(FILE_NO,
							   , ORIGIN_NAME
							   , CHANGE_NAME
							   , FILE_PATH
							   , DEFAULT
							   , DEFAULT
							   , FILE_LEVEL
							   , REF_BNO)
					VALUES(SEQ_B_ATTACHMENT.NEXTVAL
					     , #{}
					     , #{}
					     , #{}
					     , #{}
					     , SEQ_B_ATTACHMENT.CURRVAL)
	</insert>	  
	-->		  
				  
				  
		
	
	


</mapper>













