<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "mybatis-3-mapper.dtd" >
<mapper namespace="boardMapper">
	
	<!-- BOARD 테이블로부터 조회된 ResultSet 을 Board 객체로 가공해주는 resultMap -->
	<resultMap id="boardResultSet" type="board">
		<result column="B_NO" property="boardNo" />
		<result column="B_TITLE" property="boardTitle" />
		<result column="B_CONTENT" property="boardContent" />
		<result column="CREATE_DATE" property="createDate" />
		<result column="STATUS" property="status" />
		<result column="COUNT" property="count" />
		<result column="USER_NO" property="userNo" />
		<result column="CATEGORY_MAIN" property="categoryMain" />
		<result column="CATEGORY_SUB" property="categorySub" />
		<result column="DOG_NAME" property="dogName" />
		<result column="DOG_BREED" property="dogBreed" />
		<result column="DOG_GENDER" property="dogGender" />
		<result column="M_USER_NAME" property="userName" />
		<result column="FILE_PATH" property="filePath" />
		<result column="ORIGIN_NAME" property="originName" />
		<result column="CHANGE_NAME" property="changeName" />
		<result column="AT_FILE_PATH" property="atFilePath" />
		<result column="DOG_FILE_PATH" property="dogFilePath" />
		<result column="DOG_FILE_PATH" property="dogBirth" />
	</resultMap>
	
	<resultMap id="attachmentResultSet" type="attachment">
		<result column="FILE_NO" property="fileNo" />
		<result column="ORIGIN_NAME" property="originName" />
		<result column="CHANGE_NAME" property="changeName" />
		<result column="FILE_PATH" property="filePath" />
		<result column="CREATE_DATE" property="createDate" />
		<result column="STATUS" property="status" />
		<result column="FILE_LEVEL" property="fileLevel" />
		<result column="REF_BNO" property="ref_bno" />
	</resultMap>
	
	<resultMap id="replyResultSet" type="boardReply">
		<result column="REP_NO" property="repNo" />
		<result column="REP_CONTENT" property="repContent" />
		<result column="CREATE_DATE" property="replyCreateDate" />
		<result column="STATUS" property="replyStatus" />
		<result column="USER_NO" property="replyUserNo" />
		<result column="REF_BNO" property="refBno" />
		<result column="USER_NICKNAME" property="userNickName" />
		<result column="M_FILE_PATH" property="userFile" />
	</resultMap>
	
	
	<!-- 자유/사진 게시글 총 갯수 구하는 쿼리문 -->
	<select id="selectListCount" parameterType="board" resultType="_int">
		SELECT COUNT(*)
		  FROM BOARD
		 WHERE STATUS = 'Y'
		   AND CATEGORY_MAIN = #{categoryMain}
	</select>
	
	<select id="selectList" parameterType="board" resultMap="boardResultSet">
		SELECT B.B_NO
		     , B.B_TITLE
		     , B.B_CONTENT
		     , B.USER_NO
		     , B.COUNT 
			 , TO_CHAR(B.CREATE_DATE, 'YYYY-MM-DD') AS CREATE_DATE
			 , A.ORIGIN_NAME
			 , A.CHANGE_NAME
			 , A.FILE_PATH || A.CHANGE_NAME AS AT_FILE_PATH
		 FROM BOARD B
         LEFT JOIN (
            SELECT REF_BNO, ORIGIN_NAME, CHANGE_NAME, FILE_PATH,
                ROW_NUMBER() OVER (PARTITION BY REF_BNO ORDER BY FILE_NO) AS RN
            FROM B_ATTACHMENT
           WHERE STATUS = 'Y'
         ) A ON (B.B_NO = A.REF_BNO) AND A.RN = 1
        WHERE B.STATUS = 'Y'
          AND CATEGORY_MAIN = #{categoryMain}
        ORDER BY B.B_NO DESC	
	</select>	
	
	<!-- 일반게시글 리스트 조회 -->
	<select id="selectFreeList" resultMap="boardResultSet">
		SELECT B.B_NO
		     , B.B_TITLE
		     , B.USER_NO
		     , B.COUNT 
			 , TO_CHAR(B.CREATE_DATE, 'YYYY-MM-DD') AS CREATE_DATE
			 , A.ORIGIN_NAME
			 , A.CHANGE_NAME
			 , A.FILE_PATH AS AT_FILE_PATH 
		 FROM BOARD B
         LEFT JOIN B_ATTACHMENT A ON (B.B_NO = A.REF_BNO) 	
        WHERE B.STATUS = 'Y'
		  AND CATEGORY_MAIN = '1'
        ORDER BY B.B_NO DESC	
	</select>	

	<!-- 조회수 증가용 쿼리문 -->
	<update id="increaseCount" parameterType="_int">
		UPDATE BOARD
		   SET COUNT = COUNT + 1
		 WHERE B_NO = #{boardNo}
		   AND STATUS = 'Y'
	</update>
	
	
	<!-- 게시글 작성용 쿼리문 --> 
	<insert id="insertBoard" parameterType="board">
		INSERT INTO BOARD(B_NO
						, B_TITLE
						, B_CONTENT
						, USER_NO
						, CATEGORY_MAIN
						, CATEGORY_SUB)
				   VALUES(SEQ_BOARD.NEXTVAL
				   		, #{boardTitle}
				   		, #{boardContent}
				   		, #{userNo}
				   		, #{categoryMain}
				   		, #{categorySub})
	</insert>
	
	<!-- 게시글 작성용 쿼리문 --> 
	<select id="selectBoardNo" resultType="_int">
		SELECT SEQ_BOARD.CURRVAL AS "B_NO" FROM DUAL
	</select>
	
	<!-- 첨부파일 작성용 쿼리문 -->
	<insert id="insertAttachmentList" parameterType="attachment">
		INSERT INTO B_ATTACHMENT(FILE_NO
		                       , ORIGIN_NAME
		                       , CHANGE_NAME
		                       , FILE_PATH
		                       , REF_BNO)
		                VALUES(SEQ_B_ATTACHMENT.NEXTVAL
		                     , #{originName}
		                     , #{changeName}
		                     , #{filePath}
		                     , SEQ_BOARD.CURRVAL)
	</insert>
	
	<!-- 사진게시글 : 일반게시글 상위 5 개 조회 -->
	<select id="selectTopList" resultMap="boardResultSet">
		SELECT B_NO
		     , B_TITLE
		     , B_CONTENT
			 , ORIGIN_NAME
			 , CHANGE_NAME
			 , FILE_PATH AS AT_FILE_PATH 
		FROM
		(
			SELECT * 
			 FROM BOARD B
			 LEFT JOIN B_ATTACHMENT A ON (B.B_NO = A.REF_BNO) 	
			WHERE B.STATUS = 'Y'
			  AND CATEGORY_MAIN = '1'
			ORDER BY B.COUNT DESC
		) 
		WHERE ROWNUM &lt; 5  		
	</select>
	

	<!-- boardMain 하단 카테고리 조회용 -->
	<select id="selectBottomList1" resultMap="boardResultSet">
		SELECT B_NO
		     , B.B_TITLE
		     , B.B_CONTENT
			 , A.ORIGIN_NAME
			 , A.CHANGE_NAME
			 , A.FILE_PATH AS AT_FILE_PATH
		FROM BOARD B 
		LEFT JOIN B_ATTACHMENT A ON (B.B_NO = A.REF_BNO)
		WHERE B.STATUS = 'Y'
		AND CATEGORY_MAIN = 2
		AND CATEGORY_SUB = 1
		ORDER BY B.CREATE_DATE DESC
	</select>
	
		<!-- 게시글 상세 조회용 쿼리문 -->
	 
	<select id="selectBoard" resultMap="boardResultSet">
		SELECT M.USER_NICKNAME AS M_USER_NAME,
		       B.B_TITLE,  
		       B.B_CONTENT,
		       B.CREATE_DATE,
		       LISTAGG(BA.FILE_NO, ',') WITHIN GROUP(ORDER BY BA.FILE_NO) AS BA_FILE_NO,
		       LISTAGG(BA.ORIGIN_NAME, ',') WITHIN GROUP(ORDER BY BA.ORIGIN_NAME) AS BA_ORIGIN_NAME,
		       LISTAGG(BA.CHANGE_NAME, ',') WITHIN GROUP(ORDER BY BA.CHANGE_NAME) AS BA_CHANGE_NAME,
		       BA.FILE_PATH 커뮤니티경로,
               B.COUNT,
               B.B_NO
		  FROM BOARD B
		  LEFT JOIN B_ATTACHMENT BA ON B.B_NO = BA.REF_BNO
		  LEFT JOIN MEMBER M ON B.USER_NO = M.USER_NO
		 WHERE B.B_NO = #{boardNo}
		   AND B.STATUS = 'Y' 
		 GROUP BY M.USER_NICKNAME, 
		       B.B_TITLE, 
		       B.B_CONTENT, 
		       B.CREATE_DATE, 
		       BA.FILE_PATH,
               B.B_NO,
               B.COUNT
	</select>
	
	<!-- 일반/사진 : 수정페이지 , 기존내용 조회용 뿌리는 쿼리문 -->
	<select id="selectBoardInUpdate" resultMap="boardResultSet">
		SELECT B_NO
			     , B.B_TITLE
			     , B.B_CONTENT
				 , A.ORIGIN_NAME
				 , A.CHANGE_NAME
				 , A.FILE_PATH AS AT_FILE_PATH
			FROM BOARD B 
			LEFT JOIN B_ATTACHMENT A ON (B.B_NO = A.REF_BNO)
			WHERE B.STATUS = 'Y'
			ORDER BY B.CREATE_DATE DESC
			<!-- 
			AND CATEGORY_MAIN = #{}
			AND CATEGORY_SUB = 1
			-->
	</select>
	
		<!-- 커뮤니티 업데이트용 쿼리문 -->
	<update id="updateBoard" parameterType="board">
		UPDATE BOARD
		   SET B_TITLE = #{boardTitle},
		       B_CONTENT = #{boardContent},
		       CREATE_DATE = SYSDATE,
		 WHERE B_NO = #{boardNo}
		   AND STATUS = 'Y'	
	</update>
	
	<!-- 기존 첨부파일 삭제 -->
	<update id="deleteAttaAll" parameterType="_int">
		UPDATE B_ATTACHMENT
		SET STATUS = 'N',
		WHERE REF_BNO = #{boardNo}
	</update>
	
	
	<!-- 첨부파일 업데이트용 쿼리문 -->
	<update id="updateAttachmentList" parameterType="attachment">
		UPDATE B_ATTACHMENT
		   SET ORIGIN_NAME = #{originName},
		       CHANGE_NAME = #{changeName},
		       FILE_PATH = #{filePath},
		       CREATE_DATE = SYSDATE,
		 WHERE REF_BNO = #{refBno}
		   AND STATUS = 'Y'	
	</update>
	
	<select id="addReply" parameterType="_int" resultMap="replyResultSet">
		SELECT REP_CONTENT,
		       CREATE_DATE,
		       USER_NICKNAME,
		       M.FILE_PATH M_FILE_PATH,
		       REP_NO,
		       R.USER_NO
		  FROM REPLY R
		  JOIN MEMBER M ON R.USER_NO = M.USER_NO
		 WHERE R.STATUS = 'Y'
		   AND REF_BNO = #{bNo}	
	  ORDER BY CREATE_DATE DESC	   
	</select>
	
	<insert id="writeReply">
		INSERT INTO REPLY
		VALUES(
		SEQ_REPLY.NEXTVAL,
		#{replyDesc},
		SYSDATE,
		'Y',
		#{userNo},
		#{bNo}
		)	
	</insert>
	
	<select id="dogInfo" resultMap="boardResultSet">
		SELECT DOG_NAME,
		       DOG_GENDER,
		       DOG_BREED,
		       DOG_BIRTHDAY,
		       D.FILE_PATH
		  FROM DOG D
		  JOIN MEMBER M ON D.USER_NO = M.USER_NO
		  JOIN BOARD B ON M.USER_NO = B.USER_NO
		 WHERE B_NO = #{bNo}
		 AND ROWNUM = 1 	
	</select>			  
		
	<update id="replyDelete">
		UPDATE REPLY
		SET STATUS = 'N'
		WHERE REP_NO = #{repNo}	
	</update>
	

	
	
	
	
	
	
	
	 
	 
	 
	 
	 
	 
	 
	<!-- 여기서부터 하나하나 수정해나가기 --> 
	 
	 
	 
	 <!-- 
	 SELECT B.B_NO
		     , B.B_CONTENT
		     , B.USER_NO
		     , D.DOG_NAME
		     , D.FILE_PATH
		FROM BOARD B
		LEFT JOIN (
		            SELECT USER_NO, DOG_NAME, FILE_PATH
		            FROM (
		                    SELECT D.USER_NO, D.DOG_NAME, D.FILE_PATH,
		                           ROW_NUMBER() OVER (PARTITION BY D.USER_NO ORDER BY D.DOG_NAME) AS RN
		                    FROM DOG D
		                ) WHERE RN = 1
		        ) D ON D.USER_NO = B.USER_NO
		WHERE B.STATUS = 'Y'
          AND B.B_NO = #{boardNo}
	 -->
	 
	 
	
	 
	 
	 
	 
	 
	 
	 
	<!-- 일반게시판 글작성 : 다중파일 & BOARD테이블 -->
	<!--
	<insert id="" >
		INSERT ALL
			INTO EMP_HIR VALUES(EMPNO, ENAME, HIREDATE)
			INTO EMP_MGR VALUES(EMPNO, ENAME, MGR)
			SELECT (EMPNO, ENAME, HIREDATE, MGR) FROM EMP WHERE DEPTNO = 20;	
	</insert>
	-->

		
	
	
	
	




	<!-- 사진게시글 리스트 조회 -->
	<!--  
	<select id="" parameterType="_int" resultMap="boardResultSet">
		SELECT B.B_NO
		     , B.B_TITLE
		     , B.USER_NO
		     , B.COUNT 
			 , TO_CHAR(B.CREATE_DATE, 'YYYY-MM-DD') AS "CREATE_DATE"
			 , A.REF_BNO
		FROM BOARD B
		LEFT JOIN B_ATTACHMENT A ON (B.B_NO = A.REF_BNO)
		ORDER BY BOARD_NO DESC
		WHERE STATUS = 'Y'
		   AND CATEGORY_MAIN = '1' 		
	</select>		
	-->
	
	
	
	
	
	
	
	
	
	
	
	
	<!-- 게시글 리스트 구해주는 쿼리문 -->
	<!--  
	<select id="selectList" resultMap="boardResultSet">
		SELECT B.B_NO
		     , B.B_CONTENT
		     , B.USER_NO
		     , D.DOG_NAME
		     , D.FILE_PATH
		FROM BOARD B
		LEFT JOIN (
		            SELECT USER_NO, DOG_NAME, FILE_PATH
		            FROM (
		                    SELECT D.USER_NO, D.DOG_NAME, D.FILE_PATH,
		                           ROW_NUMBER() OVER (PARTITION BY D.USER_NO ORDER BY D.DOG_NAME) AS RN
		                    FROM DOG D
		                ) WHERE RN = 1
		        ) D ON D.USER_NO = B.USER_NO
		WHERE B.STATUS = 'Y'
		ORDER BY B.B_NO DESC
	</select>
	-->
	
	
	
	
	
		
		
	
	
	<!-- 첨부파일 작성용 쿼리문 -->
	<!--  
	<insert id="insertAttachment" parameterType="">
		INSERT INTO B_ATTACHMEN(FILE_NO
							  , ORIGIN_NAME
							  , CHANGE_NAME
							  , FILE_PATH
							  , FILE_LEVEL
							  , REF_BNO)
					VALUES (SEQ_B_ATTACHMENT.NEXTVAL
						  , #{originName}
						  , #{changeName}
						  , #{filePath}
						  , #{fileLevel}
						  , SEQ_B_ATTACHMENT.CURRVAL)
	</insert>
	-->


	 <!--   
	<select id="selectAttachment" parameterType="_int" resultMap="attachmentResultSet">
		SELECT ORIGIN_NAME
		     , CHANGE_NAME
		  FROM B_ATTACHMENT
		 WHERE STATUS = 'Y'
		   AND REF_BNO = #{boardNo}
	</select>	
	-->
	
	
	<!--  
	<insert id="insertAttachmentList" parameterType="">
		INSERT INTO B_ATTACHMENT(FILE_NO,
							   , ORIGIN_NAME
							   , CHANGE_NAME
							   , FILE_PATH
							   , DEFAULT
							   , DEFAULT
							   , FILE_LEVEL
							   , REF_BNO)
					VALUES(SEQ_B_ATTACHMENT.NEXTVAL
					     , #{}
					     , #{}
					     , #{}
					     , #{}
					     , SEQ_B_ATTACHMENT.CURRVAL)
	</insert>	  
	-->		  
				  
				  
		
	
	


</mapper>













