<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "mybatis-3-mapper.dtd" >
<mapper namespace="chatMapper">

	<resultMap id="chatMessageResultSet" type="chatMessage">
		<result column="M_NO" property="messageNo" />
		<result column="M_CONTENT" property="message" />
		<result column="CREATE_DATE" property="createDate" />
		<result column="USER_NO" property="userNo" />
		<result column="USER_NAME" property="userName" />
		<result column="ROOM_NO" property="roomNo" />
	</resultMap>
	
	<resultMap id="chatRoomResultSet" type="chatRoom">
		<result column="ROOM_NO" property="roomNo" />
		<result column="USER_NO" property="userNo" />
		<result column="USER_NICKNAME" property="userNickname" />
		<result column="USER_PIC" property="userPic" />
		<result column="USER_PET" property="userPet" />
		<result column="USER_PRO" property="userPro" />
		<result column="MASTER_NO" property="masterNo" />
		<result column="MASTER_NICKNAME" property="masterNickname" />
		<result column="MASTER_PIC" property="masterPic" />
		<result column="MASTER_PET" property="masterPet" />
		<result column="MASTER_PRO" property="masterPro" />
	</resultMap>
	
	
	<!-- 메세지 DB 저장 -->
	<insert id="insertMessage" parameterType="chatMessage">
		INSERT INTO MESSAGE(M_NO
										 , M_CONTENT
										 , CREATE_DATE
										 , USER_NO
										 , ROOM_NO)
								  VALUES(SEQ_MESSAGE.NEXTVAL
										   , #{message}
										   , DEFAULT
										   , #{userNo}
										   , #{roomNo})
	</insert>
	
	<select id="selectChatRoom" parameterType="_int" resultMap="chatRoomResultSet">
		SELECT *
		  FROM CHAT_ROOM
		WHERE ROOM_NO = #{roomNo}
	</select>
	
    <select id="chatRoomList" parameterType="_int" resultMap="chatRoomResultSet">
        SELECT *
        FROM CHAT_ROOM
        WHERE USER_NO = #{userNo} OR MASTER_NO = #{userNo}
    </select>
    
    <select id="selectUnReadCount" parameterType="ChatMessage" resultType="_int">
        SELECT COUNT(*)
        FROM MESSAGE
        WHERE ROOM_NO = #{roomNo}
        	AND USER_NO != #{userNo} 
        	AND UNREAD_COUNT = 1
    </select>



</mapper>













