<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "mybatis-3-mapper.dtd" >
<mapper namespace="inquiryMapper">

	<!-- Inquiry 테이블로부터 조회된 ResultSet을 Inquiry 객체로 가공해주는 resultMap -->
	<resultMap id="inquiryResultSet" type="inquiry">
		<result column="I_NO" property="inquiryNo" />
		<result column="I_TITLE" property="inquiryTitle" />
		<result column="I_CONTENT" property="inquiryContent" />
		<result column="CREATE_DATE" property="createDate" />
		<result column="STATUS" property="status" />
		<result column="USER_NO" property="userNo" />
		<result column="COUNT" property="count" />
		
		<result column="FILE_PATH" property="filePath" />
		<result column="USER_NICKNAME" property="userNickname" />
	</resultMap>

	<resultMap id="csreplyResultSet" type="csReply">
		<result column="REP_NO" property="repNo" />
		<result column="REP_CONTENT" property="repContent" />
		<result column="CREATE_DATE" property="createDate" />
		<result column="STATUS" property="status" />
		<result column="USER_NO" property="userNo" />
		<result column="REF_INO" property="refIno" />
		<result column="USER_NICKNAME" property="userNickname" />
	</resultMap>
	
	<!-- 1:1 문의글 총 개수 구하는 쿼리문 -->
	<select id="selectAllCount" resultType="_int">
		SELECT COUNT(*)
		  FROM INQUIRY
		 WHERE STATUS = 'Y'
	</select>
	
	<!-- 1:1 문의글 본인글 개수만 구하는 쿼리문 -->
	<select id="selectListCount" resultType="_int" parameterType="member">
		SELECT COUNT(*)
		  FROM INQUIRY
		 WHERE STATUS = 'Y'
		   AND USER_NO = #{userNo}
	</select>
	
	<!-- 관리자용 1:1 문의글 전체 리스트를 구해주는 쿼리문 -->
	<select id="selectAdminInquiry" resultMap="inquiryResultSet" parameterType="member">
		SELECT I_NO
			 , I_TITLE
			 , TO_CHAR(CREATE_DATE, 'YYYY-MM-DD') AS "CREATE_DATE"
			 , USER_NO
	 	  FROM INQUIRY
	 	 WHERE STATUS = 'Y'
      GROUP BY I_NO, I_TITLE, CREATE_DATE, USER_NO
      ORDER BY I_NO DESC
	</select>
	
	<!-- 대시보드용 : 1:1 문의글 전체 리스트를 구해주는 쿼리문 -->
	<select id="selectDashboardList" resultMap="inquiryResultSet">
		SELECT I.I_NO
		     , M.USER_NICKNAME
		     , I.I_TITLE
		     , TO_CHAR(I.CREATE_DATE, 'YYYY-MM-DD') AS "CREATE_DATE"
		     , I.FILE_PATH
		  FROM INQUIRY I
		  JOIN MEMBER M ON (M.USER_NO = I.USER_NO)
		 WHERE I.STATUS = 'Y'
		ORDER BY I.I_NO ASC
	</select>
	
	<!-- 1:1 문의글 리스트를 구해주는 쿼리문 -->
	<select id="selectList" resultMap="inquiryResultSet" parameterType="member">
		SELECT I_NO
			 , I_TITLE
			 , TO_CHAR(CREATE_DATE, 'YYYY-MM-DD') AS "CREATE_DATE"
			 , USER_NO
	 	  FROM INQUIRY
	 	 WHERE STATUS = 'Y'
	 	   AND USER_NO = #{userNo}
      GROUP BY I_NO, I_TITLE, CREATE_DATE, USER_NO
      ORDER BY I_NO DESC
	</select>
	
	<!-- 1:1문의글 작성용 쿼리문 -->
	<insert id="insertInquiry" parameterType="inquiry">
		INSERT INTO INQUIRY(I_NO
						  , I_TITLE		
						  , I_CONTENT
						  , FILE_PATH
						  , USER_NO)
					 VALUES(SEQ_INQUIRY.NEXTVAL
						  , #{inquiryTitle}
						  , #{inquiryContent}
						  , #{filePath}
						  , #{userNo})
	</insert>
	
	<!-- 문의글 currval 뽑기 -->
	<select id="selectInquiryNo" resultType="_int">
		SELECT SEQ_INQUIRY.CURRVAL AS "I_NO" FROM DUAL
	</select>
	
	<!-- 1:1문의글 상세조회용 쿼리문 -->
	<select id="selectInquiry" parameterType="_int"	resultMap="inquiryResultSet">
		SELECT
		I_NO, I_TITLE, TO_CHAR(CREATE_DATE, 'YYYY-MM-DD') AS "CREATE_DATE", I_CONTENT, FILE_PATH, USER_NO
		  FROM INQUIRY
		 WHERE I_NO = #{inquiryNo}
	</select>
	
	<!-- 1:1문의글 삭제용 쿼리문 -->
	<update id="deleteInquiry" parameterType="_int">
		UPDATE INQUIRY
		   SET STATUS = 'N'
		 WHERE I_NO = #{inquiryNo}
	</update>
	
	<!-- 댓글 리스트 조회용 쿼리문 -->
	<select id="selectReplyList" parameterType="_int" resultMap="csreplyResultSet">
		SELECT M.USER_NICKNAME,
               C.REP_CONTENT, 
               TO_CHAR(C.CREATE_DATE, 'YYYY-MM-DD') AS "CREATE_DATE"
		  FROM CS_REPLY C
          JOIN MEMBER M ON (M.USER_NO = C.USER_NO)
		 WHERE C.STATUS = 'Y'
		   AND C.REF_INO = #{inquiryNo}
		 ORDER BY REP_NO DESC
	</select>
	
	<!-- 댓글 작성용 쿼리문 -->
	<insert id="insertReply" parameterType="csReply">
		INSERT INTO CS_REPLY(REP_NO
						, REP_CONTENT
						, USER_NO
						, REF_INO)
		  		   VALUES(SEQ_CS_REPLY.NEXTVAL
		  		   		, #{repContent}
		  		   		, #{userNo}
		  		   		, #{refIno})
	</insert>
	
</mapper>













