<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "mybatis-3-mapper.dtd" >
<mapper namespace="noticeMapper">

	<!-- NOTICE 테이블로부터 조회된 ResultSet을 Notice 객체로 가공해주는 resultMap -->
	<resultMap id="noticeResultSet" type="notice">
		<result column="NOTICE_NO" property="noticeNo" />
		<result column="NOTICE_TITLE" property="noticeTitle" />
		<result column="NOTICE_CONTENT" property="noticeContent" />
		<result column="CREATE_DATE" property="createDate" />
		<result column="COUNT" property="count" />
	</resultMap>

	<!-- 공지사항 게시글 총 개수 구하는 쿼리문 -->
	<select id="selectListCount" resultType="_int">
		SELECT COUNT(*)
		  FROM NOTICE
		 WHERE STATUS = 'Y'
	</select>
	
	<!-- 공지사항 게시글 리스트를 구하는 쿼리문 -->
	<select id="selectList" resultMap="noticeResultSet">
		SELECT NOTICE_NO
		     , NOTICE_TITLE
		     , TO_CHAR(CREATE_DATE, 'YYYY-MM-DD') AS "CREATE_DATE"
		     , COUNT
		  FROM NOTICE
		 WHERE STATUS = 'Y'
		 ORDER BY NOTICE_NO DESC
	</select>
	
	<!-- 공지사항 작성용 쿼리문 -->
	<insert id="insertNotice" parameterType="notice">
		INSERT INTO NOTICE(NOTICE_NO
						 , NOTICE_TITLE
						 , NOTICE_CONTENT)
					VALUES(SEQ_NOTICE.NEXTVAL
						 , #{noticeTitle}
						 , #{noticeContent})
	</insert>

</mapper>













