<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "mybatis-3-mapper.dtd" >
<mapper namespace="paymentMapper">

	<resultMap id="paymentResultSet" type="payment">
		<result column="PAY_NO" property="payNo" />
		<result column="PAY_DATE" property="payDate" />
		<result column="PAY_DESCRIPTION" property="payDscpt" />
		<result column="PAY_PRICE" property="payPrice" />
		<result column="STATUS" property="status" />
		<result column="REF_RESNO" property="refResno" />
	</resultMap>
	
	
</mapper>