<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "mybatis-3-mapper.dtd" >
<mapper namespace="petSitterMapper">

	<!-- PETSITTER 객체로 가공된 resultMap -->
	<resultMap id="petSitterResultSet" type="petSitter">
		<result column="P_NO" property="petSitterNo" />
		<result column="P_TITLE" property="petSitterTitle" />
		<result column="P_CONTENT" property="petSitterContent" />
		<result column="P_SERVICE" property="petSitterService" />
		<result column="CARE_LIST" property="careList" />
		<result column="P_MODE" property="petSitterMode" />
		<result column="USER_NO" property="userNo" />		<!-- member -->
		<result column="USER_NAME" property="userName" />
		<result column="ADDRESS" property="address" />
		<result column="CA_STATUS" property="caStatus" />
		<result column="FILE_PATH" property="userFilePath" />
		<result column="START_DATE" property="startDate" />		<!-- reservation -->
		<result column="END_DATE" property="endDate" />
		<result column="REF_PNO" property="refPno" />
		<result column="REV_NO" property="revNo" />		<!-- review -->
		<result column="REV_CONTENT" property="revContent" />
		<result column="CREATE_DATE" property="createDate" />
		<result column="FILE_PATH" property="revFilePath" />
		<result column="REVIEW_COUNT" property="reviewCount" />
		<result column="DOG_NO" property="dogNo" />		<!-- dog -->
		<result column="DOG_NAME" property="dogName" />
		<result column="DOG_GENDER" property="dogGender" />
		<result column="DOG_BREED" property="dogBreed" />
		<result column="DOG_BIRTHDAY" property="dogBirthday" />
		<result column="FILE_PATH" property="dogFilePath" />
	</resultMap>
	
	<resultMap id="reviewResultSet" type="review">
		<result column="REV_NO" property="revNo" />
		<result column="REV_CONTENT" property="revContent" />
		<result column="CREATE_DATE" property="createDate" />
		<result column="FILE_PATH" property="revFilePath" />
	</resultMap>
	
	<!-- 펫시터 프로필 상세 조회용 쿼리문 -->
	<select id="selectPetSitter" parameterType="_int" resultMap="petSitterResultSet">
       	SELECT P_NO
		     , P_TITLE
		     , P_CONTENT
		     , P_SERVICE
		     , CARE_LIST
		     , P_MODE
		     , M.USER_NO
             , USER_NAME
             , ADDRESS
             , CA_STATUS
             , FILE_PATH
		  FROM PETSITTER P
          JOIN MEMBER M ON (M.USER_NO = P.USER_NO)
		 WHERE M.STATUS = 'Y'
           AND P.USER_NO = M.USER_NO
           AND P_NO = #{petSitterNo}
	</select>
	
	<!-- 펫시터 프로필 수정용 쿼리문 -->
	<update id="updatePetSitter" parameterType="petSitter">
		UPDATE PETSITTER
		   SET P_TITLE = #{petSitterTitle}
		     , P_CONTENT = #{petSitterContent}
		     , P_SERVICE = #{petSitterService}
		     , CARE_LIST = #{careList}
		     , P_MODE = #{petSitterMode}
		 WHERE P_NO = #{petSitterNo}
	</update>

	<!-- 게시글 총 갯수 구하는 쿼리문 -->
	<select id="selectListCount" resultType="_int">
		SELECT COUNT(*)
		  FROM PETSITTER
		 WHERE P_MODE = 'Y'
	</select>
	
	<!-- 게시글 리스트 조회용 쿼리문 -->
	<select id="selectList" parameterType="_int" resultMap="petSitterResultSet">
        SELECT P.P_NO
		     , P.P_TITLE
		     , P.CARE_LIST
             , M.ADDRESS
             , M.CA_STATUS
             , RS.START_DATE
             , RS.END_DATE
             , RS.REF_PNO
             , (SELECT COUNT(*)
                  FROM REVIEW R
                 WHERE REF_RESNO = RS.RES_NO
                   AND R.STATUS = 'Y') REVIEW_COUNT
		  FROM PETSITTER P
     LEFT JOIN MEMBER M USING (USER_NO)
     LEFT JOIN RESERVATION RS USING (USER_NO)
     LEFT JOIN REVIEW R ON (R.REF_RESNO = RS.RES_NO)
		 WHERE P.P_MODE = 'Y'
      ORDER BY P.P_NO DESC
	</select>
	
	<!-- 펫시터 상세페이지 후기 리스트 조회용 쿼리문 -->
	<select id="selectReviewList" resultMap="reviewResultSet">
	   SELECT REV_NO
	        , REV_CONTENT
	        , CREATE_DATE
	        , R.FILE_PATH
	        , M.USER_NAME
	     FROM REVIEW R
	     JOIN RESERVATION RS ON (RS.RES_NO = R.REF_RESNO)
	LEFT JOIN MEMBER M ON (M.USER_NO = RS.USER_NO)
	    WHERE R.STATUS = 'Y'
	 ORDER BY REV_NO DESC
	</select>

</mapper>













