<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "mybatis-3-mapper.dtd" >
<mapper namespace="petSitterMapper">

	<!-- PETSITTER 객체로 가공된 resultMap -->
	<resultMap id="petSitterResultSet" type="petSitter">
		<result column="P_NO" property="petSitterNo" />
		<result column="P_TITLE" property="petSitterTitle" />
		<result column="P_CONTENT" property="petSitterContent" />
		<result column="P_SERVICE" property="petSitterService" />
		<result column="CARE_LIST" property="careList" />
		<result column="P_MODE" property="petSitterMode" />
		<result column="USER_NO" property="userNo" />		<!-- member -->
		<result column="USER_NAME" property="userName" />
		<result column="ADDRESS" property="address" />
		<result column="CA_STATUS" property="caStatus" />
		<result column="FILE_PATH" property="userFilePath" />
		<result column="START_DATE" property="startDate" />		<!-- reservation -->
		<result column="END_DATE" property="endDate" />
		<result column="REF_PNO" property="refPno" />
		<result column="REVIEW_COUNT" property="reviewCount" />		<!-- review -->
		<result column="CHANGE_NAME" property="changeName" />		<!-- pAttachment -->
		<result column="FILE_PATH" property="paFilePath" />
	</resultMap>
	
	<resultMap id="reviewResultSet" type="review">
		<result column="REV_NO" property="revNo" />
		<result column="REV_CONTENT" property="revContent" />
		<result column="CREATE_DATE" property="createDate" />
		<result column="A_CONTENT" property="acontent" />
		<result column="A_DATE" property="adate" />
		<result column="FILE_PATH" property="filePath" />
		<result column="USER_NAME" property="userName" />
		<result column="REVIEW_COUNT" property="reviewCount" />
	</resultMap>
	
	<resultMap id="dogResultSet" type="dog">
		<result column="DOG_NO" property="dogNo" />
		<result column="DOG_NAME" property="dogName" />
		<result column="DOG_GENDER" property="dogGender" />
		<result column="DOG_BREED" property="dogBreed" />
		<result column="DOG_AGE" property="dogAge" />
		<result column="DOG_WEIGHT" property="dogWeight" />
		<result column="FILE_PATH" property="filePath" />
	</resultMap>
	
	<resultMap id="petSitterImgSet" type="petSitterImg">
		<result column="FILE_NO" property="fileNo" />
		<result column="ORIGIN_NAME" property="originName" />
		<result column="CHANGE_NAME" property="changeName" />
		<result column="FILE_PATH" property="filePath" />
		<result column="CREATE_DATE" property="createDate" />
		<result column="STATUS" property="status" />
		<result column="FILE_LEVEL" property="fileLevel" />
		<result column="REF_PNO" property="refPno" />
	</resultMap>
	
	<resultMap id="petSitterLikeSet" type="petSitterLike">
		<result column="USER_NO" property="userNo" />
		<result column="REF_PNO" property="refNo" />
	</resultMap>
	
	<!-- 펫시터 프로필 상세 조회용 쿼리문 -->
	<select id="selectPetSitter" parameterType="_int" resultMap="petSitterResultSet">
       	SELECT P_NO
		     , P_TITLE
		     , P_CONTENT
		     , P_SERVICE
		     , CARE_LIST
		     , P_MODE
		     , M.USER_NO
             , USER_NAME
             , ADDRESS
             , CA_STATUS
             , FILE_PATH
		  FROM PETSITTER P
          JOIN MEMBER M ON (M.USER_NO = P.USER_NO)
		 WHERE M.STATUS = 'Y'
           AND P.USER_NO = M.USER_NO
           AND P_NO = #{pno}
	</select>
	
	<!-- 펫시터 프로필 수정용 쿼리문 -->
	<update id="updatePetSitter" parameterType="petSitter">
		UPDATE PETSITTER
		   SET P_TITLE = #{petSitterTitle}
		     , P_CONTENT = #{petSitterContent}
		     , P_SERVICE = #{petSitterService}
		     , CARE_LIST = #{careList}
		     , P_MODE = #{petSitterMode}
		 WHERE P_NO = #{petSitterNo}
	</update>

	<!-- 게시글 총 갯수 구하는 쿼리문 -->
	<select id="selectListCount" resultType="_int">
		SELECT COUNT(*)
		  FROM PETSITTER
		 WHERE P_MODE = 'Y'
	</select>
	
	<!-- 게시글 리스트 조회용 쿼리문 -->
	<select id="selectList" resultMap="petSitterResultSet">
		SELECT P.P_NO,
		       P.P_TITLE,
		       P.CARE_LIST,
		       M.ADDRESS,
		       M.CA_STATUS,
		       COUNT(R.REV_NO) AS REVIEW_COUNT
		FROM PETSITTER P
		LEFT JOIN MEMBER M ON P.USER_NO = M.USER_NO
		LEFT JOIN RESERVATION RS ON P.P_NO = RS.REF_PNO
		LEFT JOIN REVIEW R ON RS.RES_NO = R.REF_RESNO
		WHERE P.P_MODE = 'Y'
		GROUP BY P.P_NO, P.P_TITLE, P.CARE_LIST, M.ADDRESS, M.CA_STATUS
		ORDER BY P.P_NO DESC
	</select>
	
	<!-- 펫시터 상세페이지 후기 리스트 조회용 쿼리문 -->
	<select id="selectReviewList" parameterType="_int" resultMap="reviewResultSet">
	   SELECT REV_NO
	        , REV_CONTENT
	        , CREATE_DATE
	        , A_CONTENT
        	, A_DATE
	        , R.FILE_PATH
	        , M.USER_NAME
	     FROM REVIEW R
	     JOIN RESERVATION RS ON (RS.RES_NO = R.REF_RESNO)
	LEFT JOIN MEMBER M ON (M.USER_NO = RS.USER_NO)
	LEFT JOIN PETSITTER P ON (P.P_NO = RS.REF_PNO)
	    WHERE R.STATUS = 'Y'
	      AND P_NO = ${pno}
	 ORDER BY REV_NO DESC
	</select>
	
	<!-- 펫시터 반려동물 조회용 쿼리문 -->
	<select id="selectDogList" parameterType="_int" resultMap="dogResultSet">
		SELECT DOG_NO
		     , DOG_NAME
		     , DOG_GENDER
		     , DOG_BREED
		     , EXTRACT(YEAR FROM SYSDATE) - EXTRACT(YEAR FROM DOG_BIRTHDAY) + 1 AS DOG_AGE
		     , DOG_WEIGHT
		     , FILE_PATH
		     , P_NO
		  FROM DOG D
		  JOIN PETSITTER P USING (USER_NO)
		 WHERE D.STATUS = 'Y'
		   AND P_NO = ${pno}
	</select>
	
	<!-- 펫시터 상세페이지 후기 답글 작성/수정용 쿼리문 -->
	<update id="updateComment" parameterType="review">
		UPDATE REVIEW
		   SET A_CONTENT = #{acontent}
		     , A_DATE = SYSDATE
		 WHERE REV_NO = #{revNo}
	</update>
	
	<!-- 펫시터 상세페이지 후기 답글 삭제용 쿼리문 -->
	<delete id="deleteComment" parameterType="review">
		UPDATE REVIEW
		   SET A_CONTENT = NULL
		     , A_DATE = NULL
		 WHERE REV_NO = #{revNo}
	</delete>
	
	<!-- 펫시터 프로필 이미지 등록용 쿼리문 -->
	<insert id="insertPetSitterImg" parameterType="petSitterImg">
		INSERT INTO P_ATTACHMENT(FILE_NO
		                       , ORIGIN_NAME
		                       , CHANGE_NAME
		                       , FILE_PATH
		                       , CREATE_DATE
		                       , STATUS
		                       , FILE_LEVEL
		                       , REF_PNO)
		                  VALUES(SEQ_P_ATTACHMENT.NEXTVAL
		                       , #{originName}
		                       , #{changeName}
		                       , #{filePath}
		                       , DEFAULT
		                       , DEFAULT
		                       , #{fileLevel}
		                       , #{refPno})
	</insert>
	
	<!-- 펫시터 프로필 이미지 조회용 쿼리문 -->
	<select id="selectPetSitterImg" parameterType="_int" resultMap="petSitterImgSet">
		SELECT P_ATTACHMENT.*
		  FROM P_ATTACHMENT
		  JOIN PETSITTER P ON (P_NO = REF_PNO)
		 WHERE STATUS = 'Y'
		   AND P_NO = #{pno}
	</select>
	
	<!-- 펫시터 프로필 이미지 삭제용 쿼리문 -->
	<update id="deletePetSitterImg" parameterType="_int">
		UPDATE P_ATTACHMENT
		   SET STATUS = 'N'
		 WHERE FILE_NO = #{fileNo}
	</update>
	
	<!-- 회원의 펫시터 찜 체크 여부 조회 -->
	<select id="selectLikeCheck" parameterType="petSitterLike" resultType="_int">
		SELECT COUNT(*)
		  FROM P_LIKE
		 WHERE USER_NO = #{userNo}
		   AND REF_PNO = #{refPno}
	</select>
	
	<!-- 펫시터 찜 추가 요청용 쿼리문 -->
	<insert id="insertLike" parameterType="petSitterLike">
		INSERT INTO P_LIKE VALUES(#{userNo}, #{refPno})
	</insert>
	
	<!-- 펫시터 찜 삭제 요청용 쿼리문 -->
	<delete id="deleteLike" parameterType="petSitterLike">
		DELETE FROM P_LIKE
		 WHERE USER_NO = #{userNo}
		   AND REF_PNO = #{refPno}
	</delete>
	
	<!-- 펫시터 찜 갯수 조회용 쿼리문 -->
	<select id="selectLikeCount" parameterType="_int" resultType="_int">
		SELECT COUNT(*)
		  FROM P_LIKE
		 WHERE REF_PNO = #{refPno}
	</select>

</mapper>













