body {
    padding:1.5em;
    background: #fff;
  }
  
.inquiryEnrollForm {
    min-width: 950px;
    margin: 0 auto;
    background-color: #ffffff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    box-sizing: border-box;
}

#inquiryEnrollForm {
    margin-top: 20px;
    padding-bottom: 0;
    border-collapse: separate;
    border-spacing: 30px;
}

th {
    width: 80px;
    height: 20px;
}

td {
    border-bottom: 1px solid #e5e5e5;
    width: 10%;
    height: auto;
}

td, th {
    padding: 15px;
    vertical-align: middle;
    height: 50px;
}

.inquiry {
    width: 700px;
    height: 50px;
    text-align: left;
    padding-left: 10px;
    padding: 11px;
    resize: none;
    border-radius: 5px;
    border: 1px solid grey;
}
.inquiryContent {
    height: 600px;
}

.selectBox {
    position: relative;
    width: 347px;
    height: 50px;
    padding: 11px;
    border: 1px solid grey;
    z-index: 1;
    border-radius: 5px;
  }
  
.selectBox:before {
    content: "";
    position: absolute;
    top: 50%;
    right: 15px;
    width: 0;
    height: 0;
    margin-top: -1px;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid #333;
}
  
.selectBox label {
    position: absolute;
    top: 1px;
    left: 5px;
    padding: .8em .5em;
    color: grey;
    z-index: -1;
}
  
.selectBox select {
    width: 100%;
    height: auto;
    line-height: normal;
    font-family: inherit;
    padding: .8em .5em;
    border: 0;
    opacity: 0;
    filter:alpha(opacity=0);
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}