#inquiryBody {
    padding:1.5em;
    background: #f5f5f5
}
  
#inquiryTable {
    border: 1px #0888D0 solid;
    font-size: .9em;
    box-shadow: 0 2px 5px rgba(0,0,0,.25);
    width: 100%;
    border-collapse: collapse;
    border-radius: 5px;
    overflow: hidden;
    box-sizing: border-box;
}

th {
    text-align: left;
}

thead {
    font-weight: bold;
    color: #fff;
    background: #0888D0;
    box-sizing: border-box;
}

td, th {
    padding: 1em .5em;
    vertical-align: middle;
}

td {
    border-bottom: 1px solid rgba(0,0,0,.1);
    background: #fff;
}

.inquiry {
    color: #0888D0;
}

@media all and (max-width: 768px) {
    
    table, thead, tbody, th, td, tr {
        display: block;
}

th {
    text-align: right;
}

table {
    position: relative; 
    padding-bottom: 0;
    border: 1px solid grey;
    box-shadow: 0 0 10px rgba(0,0,0,.2);
}

thead {
    float: left;
    white-space: nowrap;
}

tbody {
    overflow-x: auto;
    overflow-y: hidden;
    position: relative;
    white-space: nowrap;
}

tr {
    display: inline-block;
    vertical-align: top;
}

th {
    border-bottom: 1px solid #0888D0;
}

td {
    border-bottom: 1px solid #e5e5e5;
}