@charset "UTF-8";

/* header와 footer를 제외한 콘텐츠 메인 페이지 */

@charset "utf-8";
@import url(https://cdn.jsdelivr.net/gh/moonspam/NanumSquare@2.0/nanumsquare.css);
*{
    box-sizing: border-box;
}
.page_aticle button,
.page_aticle input,
.page_aticle select, .page_aticle {
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 400;
    letter-spacing: 0;
}


.page_aticle {
    color: #333;
}

/* top 가는 버튼 */
.page_aticle #go-top {
    position: fixed;
    z-index: 200;
    right: 55px;
    bottom: 353px;
    width: 58px;
    height: 58px;
    border: 0;
    font-size: 0;
    line-height: 0;
    transition: background .5s;
    background: url(https://res.kurly.com/pc/service/common/1903/btn_pagetop_v2.png) no-repeat 50% 50%;
}

/* hover시 transition 색 변경 */
.page_aticle #go-top:hover {
    background-image: url(https://res.kurly.com/pc/service/common/1903/btn_pagetop_hover.png);
    transition: background .5s;
}


/* 우측 플로팅 배너 */
@media (max-width: 1050px) { /*width 1050부터 qnb display: none*/
    .qnb {
        display: none;
    }
}

#main {
  border-bottom: 1px solid lightgray;  
  padding-bottom: 80px;
  min-width: 1050px;
  position: relative;
  width: 100%;
  height: auto;
  animation: fadein 5s ease 3s;
  -webkit-animation: fadein 3s;
}
@keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@-webkit-keyframes fadein { /* Safari and Chrome */
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}


.side_menu .link_menu {
    display: block;
    height: 29px;
    line-height: 29px;
    border-top: 1px solid #ddd;
    text-align: center;
}

/* contents 제목들 */
.page_aticle .tit_goods {
    padding: 79px 0 35px;
}

.page_aticle .tit_goods .tit {
    font-weight: 700;
    font-size: 28px;
    line-height: 32px;
    letter-spacing: -.3px;
    text-align: center;
}

.page_aticle .tit_goods .name {
    position: relative;
    font-weight: 700;
}


/* contents main_type1 = 이 상품 어때요?*/
.page_aticle .list_goods .thumb_goods .ico {
    z-index: 1;
    transition: all 0.3s ease-in-out;
}

/* hover시 이미지 조금 확대 효과 */
.page_aticle .list_goods .thumb_goods {
    display: block;
    overflow: hidden;
}

.page_aticle .list_goods .thumb_goods .thumb:hover {
    transform: scale(1.02); /*이미지 확대 효과*/
    transition: transform.5s;
} 

.page_aticle .list_goods .thumb_goods .thumb { 
    display: block;
    margin: 0 auto;
    background-position: 50% 50%;
    background-size: cover;
    transform: scale(1); /*커서가 벗어났을 때도 자연스럽게 돌아옴*/
    transition: all 0.3s ease-in-out;
}


/* list_goods의 데이터 이미지 크기 설정 */
.main_type1 .list_goods .thumb {
    width: 249px;
    height: 320px;
}

/* list_goods의 세일 아이콘 */
.main_type1 .list_goods .ico {
    position: absolute;
    left: 0;
    top: 0;
    width: 62px;
    height: 54px;
}

.main_type1 .list_goods .name {
    display: block;
    margin-top: 12px;
    overflow: hidden;
    max-height: 50px; 
    text-overflow: ellipsis; /*말줄임 효과*/
    display: -webkit-box;
    -webkit-line-clamp: 2; /*2줄 넘어가면 말줄임*/
    -webkit-box-orient: vertical;
    word-wrap: break-word;
}

.main_type1 .list_goods .txt {
    font-size: 16px;
    line-height: 23px;
}

.main_type1 .list_goods .price {
    display: block;
    padding-top: 9px;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
}

.main_type1 .list_goods .cost {
    display: block;
    padding-top: 5px;
    font-size: 14px;
    color: #999;
    line-height: 18px;
    text-decoration: line-through;
}

/* list-goods 전후 버튼 */
/* Id 로 선택할 경우 공통으로 적용이 안됨. class로 지정 */
.page_aticle {
    position: relative;
    width: 1300px;
    margin: 0 auto;
}

.page_aticle .bx_controls_direction {
    position: relative;
    width: 1050px;
    margin: 0 auto;
}

.page_aticle .bx_controls_direction .bx-prev,
.page_aticle .bx_controls_direction .bx-next {
    overflow: hidden;
    position: absolute;
    bottom: 316px;
    width: 60px;
    height: 60px;
}

.page_aticle .bx_controls_direction .bx-prev {
    left: -30px;
    background: url(https://res.kurly.com/pc/service/main/1908/btn_prev_default.png?v=1) no-repeat 50% 50%;
    transition: background 0.5s;
}

/* hover시 백그라운드 그림자 */
.page_aticle .bx_controls_direction .bx-prev:hover {
    background: url(https://res.kurly.com/pc/service/main/1908/btn_prev_default_hover_x1.png?v=1) no-repeat 50% 50%;
    transition: background 0.5s;
}

.page_aticle .bx_controls_direction .bx-next {
    right: -30px;
    background: url(https://res.kurly.com/pc/service/main/1908/btn_next_default.png?v=1) no-repeat 50% 50%;
    transition: background 0.5s;
}

/* hover시 백그라운드 그림자 */
.page_aticle .bx_controls_direction .bx-next:hover {
    background: url(https://res.kurly.com/pc/service/main/1908/btn_next_default_hover_x1.png?v=1) no-repeat 50% 50%;;
    transition: background 0.5s;
}

/* main_type2 = 이벤트 소식 */
.page_aticle .bg {
    background-color: #f7f7f7;
    margin-bottom: 65px;
}

/* 이벤트 소식 제목 화살표 */
.page_aticle .tit_goods .name .ico {
    padding: 0 31px;
    background: url(https://res.kurly.com/pc/service/main/1908/ico_title_link_x1.png) no-repeat 100% 50%;
    font-weight: 700;
}

/* main_event 안에 main_type2가 있는 것 */
.main_event .list_goods {
    overflow: hidden;
    height: 538px;    
}

.main_type2 .list_goods {
    width: 1050px;
    margin: 0 auto;
}

.main_type2 .list_goods::after {
    display: block;
    content: '';
    clear: both;
}

.main_event .list_goods .li {
    height: 538px;
}

.main_type2 .list_goods li {
    float: left;
    width: 338px;
    margin-right: 18px;
}

.main_type2 .list_goods .thumb_goods {
    display: block;
    position: relative;
}

.main_event .list_goods .list_goods_ul {
    width: 1068px;
}

/* 이벤트소식 이미지 썸네일 높이값 동일 설정*/
.main_event .list_goods .thumb {
    height: 338px;
}

.main_type2 .list_goods .thumb {
    width: 338px;
}

/* main_event 이미지 제목 높이, 말줄임, 가운데 정렬 */
.main_event .list_goods .name {
    max-height: 54px; /*txt line-height의 2배로 설정해줘야 함!*/
    margin-top: 17px;
    text-align: center;
    /* 2줄 말줄임 */
    text-overflow: ellipsis;
    display: -webkit-box; /*webkit 계열 브라우저(크롬, 오페라, 사파리 등)에서 동작하게 설정*/
    -webkit-line-clamp: 2; /*2줄 넘어가면 말줄임*/
    -webkit-ox-orient: vertical;
}

.main_type2 .list_goods .name {
    display: block;
    overflow: hidden;
}

/* main_event 이미지 제목 font 설정*/
.main_event .list_goods .name .txt {
    font-weight: 700;
    font-size: 18px;
    line-height: 28px;
    letter-spacing: -0.3px;
}

/* main_event 이미지 제목 밑 설명 */
.main_event .list_goods .desc {
    padding-top: 8px;
}

.main_type2 .list_goods .desc {
    display: block;
    overflow: hidden;
    text-align: center;
    white-space: nowrap;
    text-overflow: ellipsis;
    /* 1줄 말줄임 */
}

/* main_type3 = 인스타그램 고객 후기 */
.main_type3 .bnr {
    padding: 39px 0 100px;
    font-weight: 700;
    font-size: 16px;
    line-height: 29px;
    text-align: center;
}

.main_type3 .bnr .txt {
    display: block;
    font-weight: 400;
    color: #999;
}

.main_type3 .bnr a {
    font-weight: 700;
}

.main_type3 .bx_controls_direction .bx-prev, 
.main_type3 .bx_controls_direction .bx-next {
    bottom: 58px;
}

body #header .location_login .location_notice{  /* 안내메세지 처음에 block이였다가 사라지게 하기위해 */
    /* display:block; */
}
#slideUlTag img {
    width: 90%;
    height: 310px;
}
.slick-next:before { 
  color: #0888D0!important;
  font-size: 50px!important;
  margin-left: 50px!important;
  right: 200px; 
  bottom: -301px;
  position: absolute;
}

.slick-prev:before {
  color: #0888D0!important;
  font-size: 50px!important;
  position: absolute;
  bottom: -301px;
  font-size: 50px;
  left: 262px;
}

.slideText-area {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.slideTitle-text {
    margin-top: 15px;
    line-height: 25px;
    font-size: medium;
    font-weight: 900;
    padding-left: 25px;
}
.slidePrice {
    font-weight: 500;
    font-size: small;
    padding: 0 25px;
    font-family: 'NanumSquare','Noto Sans KR', sans-serif;
    line-height: 22px;
}
.slideCost {
    text-decoration: line-through;
    color: gray;
    margin-top: 15px;
    font-size: larger;
}
.slick-prev {
    left: -75px!important;
}
.discountImg {
    position: absolute;
    height: 16%!important;
    width: 26%!important;    
}
.slideLinkTag {
    position: relative;
}
#slideUlTag {
    right: -20px;
}
.slick-next {
    right: -10px!important;
}
.main_type2 {
    margin-top: 100px;
}

.headerImg1 {
  position: absolute;
  bottom: 10px;
}
.topText {
    text-align: center;
    font-size: xx-large;
    font-weight: 800;
    margin: 105px;
}
.slideLinkTag.slideCardImg {
  display: block;
  box-sizing: border-box;
  width: 85%;
  /* background-color: #F7F2DF; */
  border: 1px solid lightgray;
  box-shadow: 1px 1px 5px lightgrey;
  border-radius: 5px;
  text-decoration: none;
  color: black;
}
.showAll {
  text-decoration: none;
  color: gray;
  font-size: small;
  font-weight: 800;
  padding-left: 25px;
  padding-bottom: 10px;
  padding-top: 10px;
}
#topImg {
  /*background-image: url(/resources/gif/메인배너.gif);*/
  image-rendering: pixelated;
  height: 850px;
  background-size: 70%;
  background-size: cover;
  background-position: center center;
  margin-top: 92px;
  background-repeat: no-repeat;
  box-shadow: 3px 5px 9px gray, 0 1px 2px gray;
}
.mainVideo {
	object-fit: cover;
}
.middleSlide {
  padding-top: 90px;
  padding-bottom: 90px;
  font-family: 'NanumSquare','Noto Sans KR', sans-serif;
}

#middelBottomImgSection {
  height: 850px;
  margin-bottom: -1px;
  background-image: url(/resources/img/main/하단배너.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

#backgroundImgSection {
  margin-top: 140px;
  height: 690px;
  background-repeat: no-repeat;
  background-attachment : fixed;
  background-position: 50% 50%;
  background-color:  rgba(251,251,251,255);
}
#mainBottomSection {
  height: 850px;
  margin-bottom: 1px;
  background-image: url(/resources/img/main/최하단배너.png);
  /* box-shadow: 0px 3px 16px -4px lightgray; */
  box-sizing: border-box;
  background-size: contain;
  /* background-size: cover; */
}
.bottomLeft {
  float: left;
  height: 700px; 
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: 'NanumSquare','Noto Sans KR', sans-serif;
  margin-left: 70px;
}
.bottomRight {
  float: right;
  font-family: 'NanumSquare','Noto Sans KR', sans-serif;
  height: 700px;
  display: flex;
  align-items: center; 
  justify-content: space-evenly;
  width: 800px;
}
.bottomLeft h1 {
  font-weight: revert;
  color: rgb(57, 56, 56);
  margin-bottom: 50px;
}
.bottomText2 {
  font-size: larger;
}
.bottomWrapper {
  width: 70%;
  margin-top: 110px;
  margin-inline: auto;
}
.bottomCard {
  width: 250px;
  height: 410px;
  border: 1px solid lightgray;
  border-radius: 5px;
  background-color: white;
  box-shadow: 1px 1px 5px lightgrey;
}
.bottomCard img {
    width: 100%;
    height: 100%;
    display: block;
    margin: auto;
    border-radius: 5px;
    /*
    margin-bottom: 35px;
    margin-top: 7px;
    */
}
.bottomTextArea {
    display: flex;
    align-items: center;
    flex-direction: column;
}
.bottomCard p {
  font-size: larger;
  font-weight: 700;
}
.bottomTextArea h3 {
  font-weight: 900;
}
.bottomPrice {
  color: #0888D0;
  font-size: xx-large;
  font-weight: bold;
}
.bottomPriceText {
  font-size: larger;
  font-weight: 600;
}
.bottomBtn {
  text-align: center;
  margin-top: 10px;
}
.bottomCard:hover{
  box-shadow: 1px 1px 7px #0888D0;
  transform: translate(-5%, -5%);
  transition-delay: 0.5s;
  transition-duration: 0.6s;
}
#bottomImg {
  background-image: url(/resources/img/main/웹배너2-001.png);
  height: 700px;
  background-size: 70%;
  background-size: cover;
  background-position: center center;
  margin-top: 92px;
  background-repeat: no-repeat;
  box-shadow: 0px 0px 0px gray, -2px 1px 2px gray;
}
/* #bottomImg {
	opacity: 0;
	transform: translateY(250px);        
	transition: opacity 0.2s ease-in-out, transform 1s ease-in-out;
}
#bottomImg.active {
	opacity: 1;
	transform: translateY(0px);
} */
.slideLinkTag.slideCardImg img{
    border-radius: 5px;
}


/* 슬라이드 버전2 */
.wrap {
  position: relative;
  z-index: 100;
  width: 100%;
  height: 100%;
  padding: 0 60px;
  -webkit-background-size: cover;
  background-size: cover;
  overflow: hidden;
  margin-top: 100px;
}

.wrap:after {
  content:'';
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

}

.slider {
  position: relative;
  z-index: 200;
  padding: 0 0px;
  margin: 5rem auto;
  max-width: 800px;
  width: 100%;
}

.slick-arrow {
  position: absolute;
  top: 50%;
  width: 40px;
  height: 50px;
  line-height: 50px;
  margin-top: -25px;
  border: none;
  background: transparent;
  color: #fff;
  font-family: monospace;
  font-size: 5rem;
  z-index: 300;
  outline: none;
}

.slick-prev {
  left: -50px;
  text-align: left;
}

.slick-next {
  right: -50px;
  text-align: right;
}



.item.slick-slide {
  width: 400px;
  height: 400px !important;
  transition: transform .4s;
  position: relative; 
}

.slick-slide:after {
  content:'';
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0,0,0,.5);
  transition: transform .4s;
}

.item.slick-slide {
  transform: scale(0.7)  translate(640px);
}

.item.slick-slide.slick-center + .slick-slide {
  transform: scale(0.8) translate(-250px);
  z-index: 10;
}

.item.slick-slide.slick-center + .slick-slide + .item.slick-slide {
  transform: scale(0.7)  translate(-640px);
  z-index: 5;
}

.item.slick-slide.slick-active {
  transform: scale(0.8) translate(250px);
}

.item.slick-slide.slick-center {
  transform: scale(1);
  z-index: 30;
}

.slick-center:after {
  opacity: 0;
}
	
