/* 테스트 영역 잡아둔 것*/
.page_section.section_destination {
  height: 1800px;
}


.firstTit {
  font-weight: bold;
  margin-bottom: 20px;
}
.mainBodyWrapper {
  margin-bottom: 30px;
}
.cardSection {
  width: 100%;
  height: 200px;
  border-radius: 5px;
  display: flex;
  margin-left: 20px;
}
.cardContainer {
  border: 1px solid black;
  box-shadow: 3px 4px 5px lightgray;
  width: 73%;
  height: 100%;
  border-radius: 5px;
  display: flex;
  align-items: center;
  flex-direction: row;
  position: relative;
}
.cardContainer:hover {
  transform: scale(1.05);
  transition: all .5s ease-in-out;
}
.cardBtn {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.cardBtn a {
  text-decoration: none;
  margin-left: 30px;
}
.cardDetail, 
.cardReview {
  border: 1px solid #B9EAFF;
  box-sizing: border-box;
  width: 100px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  border-radius: 5px;
  font-size: medium;
  font-weight: 600;
  background-color: #B9EAFF;
  color: white;
  box-shadow: 1px 2px 3px lightgray;
}
.checkReview{
  border: 1px solid #B9EAFF;
  box-sizing: border-box;
  width: 100px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  border-radius: 5px;
  font-size: medium;
  font-weight: 600;
  background-color: limegreen!important;
  color: white;
  box-shadow: 1px 2px 3px lightgray;	
}
.checkReview:hover,
.cardDetail:hover, 
.cardReview:hover {
    box-shadow: 3px 4px 5px lightgray;
    font-size: large;
    color: whitesmoke;
    font-weight: 700;
    width: 110px;
    height: 45px;
    text-align: center;
    line-height: 45px;
    margin-left: 24px;
}
.cardDelete {
  border: 1px solid red;
  box-sizing: border-box;
  width: 100px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  border-radius: 5px;
  font-size: medium;
  font-weight: 600;
  background-color: red;
  color: white;
  letter-spacing: 3px;
  box-shadow: 1px 2px 3px lightgray;  
}
.cardDelete:hover {
  box-shadow: 3px 4px 5px lightgray;
  font-size: large;
  color: whitesmoke;
  font-weight: 700;
  width: 110px;
  height: 45px;
  text-align: center;
  line-height: 45px;
  margin-left: 27px;
}
.cardImage {
  width: 30%;
  height: 90%;
  margin-left: 10px;
  margin-right: 40px;
}
.cardTextContainer {
  margin-left: 12px;
  margin-bottom: 25px;
  width: 55%;
}
.cardMainImg {
  height: 100%;
  border-radius: 5px;
  width: 100%;
}
.cardTitDesc {
  display: flex;
  align-items: center;
}
.cardTitDesc h4 {
  font-weight: 700;
  color: gray;
  margin-right: 10px;
  font-size: larger;
}
.proPet {
  margin-bottom: 0.5rem;
  font-size: larger;
  color: #0888D0;
  font-weight: 800;
}
.cardTitContent {
  box-sizing: border-box;
  margin-bottom: 0.2rem;
  font-weight: 900;
}
.reviewLink {
  text-decoration: none;
  color: black;
  font-weight: 900;
  position: absolute;
}
.borderLine {
  border-bottom: 1px solid gray;
  box-sizing: border-box;
  box-shadow: 1px 1px 3px lightgray;
}
.cardHash {
  margin-bottom: 0.5rem;
  margin-top: 1rem;
  font-size: smaller;
}
.cardDate {
  margin-left: 20px;
  font-size: revert;
  font-weight: 800;
  margin-bottom: 8px;
}
.linkRe {
  padding-top: 10px;
}
.paginationUlTag {
  gap: 10px;
}
.paginationUlTag li {
  border-radius: 5px;
  --bs-pagination-border-width: 0;
  /* --bs-pagination-border-radius: 12px; */
}
.page-link {
  border-radius: 7px;
  color: black!important;
}
.active>.page-link, .page-link.active {
  background-color: #B9EAFF!important;
  color: aliceblue!important;
}
#pagination {
  margin-top: 156px;
}
.page-link:hover {
  background-color: #0888D0!important;
  color: aliceblue!important;
}
.arrowTag a{
  text-decoration: none;
  color: #B9EAFF;
}
.arrowTag a:hover{
  text-decoration: none;
  color: #0888D0;
}
.arrowTag {
  font-size: xxx-large;
  line-height: 35px;
}
.dateWorking {
  display: flex;
  justify-content: space-between;	
  width: 74%;
}
.workingon {
  color: #0888D0; 
  font-size: large;
  font-weight: 900;
}
.itsdone {
  color: black;	
  font-size: large;
  font-weight: 700;
}