#pModeInput {
    display: flex;
    justify-content: flex-end;
}

.title {
    display: flex;
    align-items: center;
    justify-content: center;
}

.title>h1 {
    margin-bottom: 0;
}

.formTitle>input {
    width: 900px;
    height: 35px;
    padding: 3px;
}

.introduction>textarea {
    width: 900px;
    padding: 3px;
}

.careList input[type=text] {
    width: 900px;
    height: 35px;
    padding: 3px;
}

.petService img {
    width: 50px;
    height: 50px;
    margin-right: 10px;
    margin-bottom: 10px;
}

.petService>div {
    display: inline-block;
}

.buttons>input {
    margin-bottom:5px;
}

.petService {
    display: flex;
}

.petServiceList td {
    width: 400px;
}

.form-group {
    margin: auto;
    display: flex;
    justify-content: center;
}

input[type=text], textarea {
    border-radius: 5px;
    border-width: 2px;
    border-color: lightgray;
}

.dateInput {
    display: flex;
}

.dateInput>div {
    margin-right: 100px;
    margin-bottom: 230px;
}

.dateInput>input {
    height: 35px;
}

.slick-track {
    margin: 0 auto !important;
}

.fileSection {
    margin-top: 30px;
}

.formBtn {
    margin-top: 70px;
    text-align: center;
}

.formBtn .btn-primary {
    background-color: #0888D0;
    border: none;
}

#preview {
    width: 900px;
    height: auto;
    padding: 15px;
    margin-top: 15px;
    margin-bottom: 15px;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    border: 1px solid gray;
}

#preview div {
    text-align: center;
    align-items: center;
}

.preview img {
    width: 240px;
    height: 180px;
    object-fit: cover;
    margin: 3px;
}

#addList {
    padding-left: 0;
    margin-bottom: 50px;
}

#addList li {
    margin-bottom: 5px;
}

.close-icon {
    position: absolute;
    top: 5px;
    right: 5px;
    font-size: 16px;
    color: #000;
    cursor: pointer;
}