body {
    padding:1.5em;
    background: #fff;
  }
  
.noticeEnrollForm {
    min-width: 950px;
    margin: 0 auto;
    background-color: #ffffff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    box-sizing: border-box;
}

#noticeEnrollForm {
    margin-top: 20px;
    padding-bottom: 0;
    border-collapse: separate;
    border-spacing: 30px;
}

th {
    width: 80px;
    height: 20px;
}

td {
    border-bottom: 1px solid #e5e5e5;
    width: 10%;
    height: auto;
}

td, th {
    padding: 15px;
    vertical-align: middle;
    height: 50px;
}

.notice {
    width: 700px;
    height: 50px;
    text-align: left;
    padding-left: 10px;
    padding: 11px;
    resize: none;
    border-radius: 5px;
    border: 1px solid grey;
}
.noticeContent {
    height: 600px;
}