#my_contents {
    margin-top: 65px;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#main_content {
    width: 800px;
    margin-bottom: 10px;
}

.btn_bo2 {
    height: 35px;
    width: 130px;
    background-color: #717171;
    color:white;
    font-size: 17px;
    display: inline-block;
    border-radius: 30px;
}

.btn_re2 {
    height: 35px;
    width: 130px;
    background-color: #0888D0;
    color:white;
    font-size: 17px;
    display: inline-block;
    margin-left: 5px;
    border-radius: 30px;
}

#boardList {
    text-align:center;
}

#pagingArea {
    width: 95%;
    display: flex;
    justify-content: center;
}

.section_destination {
    display: flex;
    justify-content: center;
}

#viewOrderList {
    display: flex;
    justify-content: center;
    align-items: center;
}

.section_destination {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}