.supportInfoArea {
    box-sizing: border-box;
}

.introductionSection {
    display: flex;
    position: relative;
    flex-direction: column;
    width: 100%;
    height: auto;
    background-color: #F7F8FA;
    align-items: center;
    margin-top: 80px;
    padding-top: 12px;
}

.videoArea {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 770px;
    background: #F7F8FA;
    position: relative;
}

.adArea {
    display: flex;
    flex-direction: column;
    align-self: center;
    position: absolute;
    top: 234px;
    left: 0;
    right: 0;
    margin: 0px auto;
    width: 1440px;
    z-index: 20;
}

.mainSentence {
    min-width: 1440px;
    margin-left: 220px;
    display: flex;
    flex-direction: column;
    align-self: flex-start;
    font-weight: 800;
    letter-spacing: 0.1px;
    font-size: 45px;
    line-height: 70px;
    color: white;
}

.subSentence {
    min-width: 1440px;
    margin-left: 220px;
    display: flex;
    flex-direction: column;
    align-self: flex-start;
    font-weight: 650;
    letter-spacing: 0.1px;
    font-size: 15px;
    line-height: 30px;
    color: white;
}

.support {
    display: flex;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    width: 190px;
    height: 70px;
    margin-top: 30px;
    margin-left: 220px;
    border-radius: 5px;
    background: #0888D0;
}

.support p {
    font-weight: 600;
    letter-spacing: -0.2px;
    font-size: 21px;
    line-height: 48px;
    color: #FFFFFF;
    margin-top: 0;
    margin-bottom: 0;
}

.processSection {
    width: 100%;
    height: 500px;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 25px 0px;
    padding-top: 105px;
}

.processContentArea {
    width: 1020px;
    align-items: center;
    margin: 0px auto;
}
