.community-card {
    display: flex;
    vertical-align: top;
    border-radius: 3px;
    box-shadow: rgb(235, 235, 235) 1px 1px 12px 0px;
    border: 1px solid rgb(235, 235, 235);
    height: 850px;
    padding-left: 5px;
    padding-right: 5px;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}
.community-card-img-a {
    width: 453px;
    height: 270px;
    overflow: hidden;
    position: relative;
}
.community-card-img {
    position: absolute;
    inset: -100%;
    margin: auto;
    min-height: 50%;
    width: 100%;
    border-radius: 3px;
    pointer-events: none;
}
.community-card-title {
    display: flex;
    justify-content: space-between;
    width: 381px;
    margin-top: 35px;
}
.community-card-writer {
    font-size: 18px;
    color: rgb(51, 51, 51);
    font-weight: 500;
    letter-spacing: -0.2px;
}
.community-card-star {
    display: flex;
    width: 80px;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}
.community-card-star img {
    width: 13px;
    height: 13px;
    aspect-ratio: auto 13 / 13;
}
.community-card-content {
    margin-top: 24px;
    width: 381px;
    height: 142px;
    font-size: 15px;
    line-height: 30px;
    color: rgb(77, 80, 85);
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: left;
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
}
/*
    border-top: 1px solid rgb(235, 235, 235);
    margin-top: 38px;
    padding-top: 31px;
    width: 381px;
    text-align: left;
*/
.community-card-button-a {
    width: 381px;
    height: 40px;
    margin-top: 28px;
    background-color: rgb(250, 250, 252);
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}
.community-card-button {
    font-size: 15px;
    color: rgb(57, 60, 71);
    margin-bottom: 0px;
}
.community-card-see-petsister-a {
    border-top: 1px solid rgb(235, 235, 235);
    margin-top: 38px;
    padding-top: 31px;
    width: 381px;
    text-align: left;
}
.community-card-see-petsister {
    font-size: 15px;
    color: rgb(57, 60, 71);
}
.petsister-a {
    width: 380px;
    height: 100px;
    background-color: rgb(250, 250, 252);
    margin-top: 12px;
    display: flex;
    text-decoration: none;
}
.petsister {
    display: flex;
    align-items: center;
    padding-left: 24px;
    padding-right: 24px;
    flex: 1 1 0%;
}
.petsister-img {
    width: 60px;
    height: 60px;
    border-radius: 30px;
    margin-right: 23px;
    pointer-events: none;
}
.petsister-img-left {
    text-align: left;
}
.content-section {
    padding-top: 0px;
    margin: 85px auto 100px;
}
.content-header {
    padding-top: 25px;
    margin: 85px auto 100px;
}
.content-header-title-a {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.content-header-title-img {
    width: 57px;
    height: 57px;
}
.content-header-title {
    font-weight: 600;
    font-size: 39px;
    line-height: 55px;
    color: rgb(85, 85, 85);
}
.card-list-parent {
    display: block;
    text-align: center;
}  
.my-masonry-grid {
    /* display: -webkit-box; */
    /* display: -ms-flexbox; */
    display: flex;
    width: 994px;
    margin: auto;
}  
.my-masonry-grid_column {
    width: 50%;
    padding-left: 32px;
    background-clip: padding-box;
}
.section-top {
    flex-direction: column;
}
.page-nation {
    margin-top: 250px;
}
.search-section {
    display: flex;
}
.search-section h4 {
    font-size: 30px;
    font-weight: 900;
    margin-bottom: 30px;
}
.category-btns h1 {
    font-size: 21px;
    font-weight: 710;
    margin-bottom: 30px;
}
.category-btns button {
    border-radius: 50px;
    padding: 9px 15px;
    margin-right: 15px;
}
.category-btns {
    display: flex;
    margin-top: 50px;
    flex-direction: column;
}
.search-section {
    display: flex;
    flex-direction: column;
}
.page-top-line {
    margin-left: 60px;
}
.style-line {
    margin-top: 110px;
    border-bottom: 2px solid #8080804d;
    width: 100%;
}
.search-form-section {
    display: flex;
    flex: 75%;
}
#searchform {
    border: 2px solid #0888D0;
    border-radius: 6px
}
.search-field {
    padding-left: 20px;
    height: 61px;
    font-size: 18px;
}
/*여기까지- 점심시간*/
.search-form button {
    padding: 10px 5px;
}
button.search-submit {
    background-color: #0888D0;
    border-radius: unset;
    width: 51px;
    height: 63px;
    padding-right: 7px;
}
/* button.search-submit:hover {
    background-color: #89c3e6ee;
} */
.search-field {
    border: 0 solid black;
    letter-spacing: 0;
    border-radius: 6px;
    width: 500px;
}
.dog-icon-area {
    display: flex;
}
.dog-icon-area h4 {
    padding-right: 10px;
}
#dog-foot-icon {
    padding-top: 8px;
}
#review-list-desktop {
    display: grid;
    grid-template-columns: 1fr 1fr;
}


